
mat-card {    
    max-width: 30%;    
    margin: 2em auto;    
    text-align: center;    
    top: 50px;  
    margin-bottom: 170px;
} 

mat-toolbar-row {    
    justify-content: space-between;    
}  

.demo-toolbar {    
    display: flex;    
    align-items: center;    
    width: 100%;    
}    
    
.demo-form {    
    min-width: 150px;    
    max-width: 500px;    
    width: 100%;    
}    
    
.demo-full-width {    
    width: 100%;    
} 